!!! 5
%html
  %head
    %title require.js experiments
    %script{'data-main' => 'scripts/main.js',
            'src' => 'scripts/require.js'}
  %body
    %p testing require.js
    %button#f0 fire f0 in mylib0
    %button#g0 fire g0 in mylib0
    %button#main fire main
